USE [VLRDatabase]
GO
/****** Object:  UserDefinedTableType [dbo].[msisdn_table_type]    Script Date: 28.01.2016 9:15:35 ******/
CREATE TYPE [dbo].[msisdn_table_type] AS TABLE(
	[msisdn] [varchar](40) NULL
)
GO
