USE [VLRDatabase]
GO
/****** Object:  Table [dbo].[MSISDN]    Script Date: 28.01.2016 9:15:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MSISDN](
	[MSISDN] [varchar](40) NOT NULL,
	[CREATE_DATE] [date] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_MSISDN_M]    Script Date: 28.01.2016 9:15:35 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_MSISDN_M] ON [dbo].[MSISDN]
(
	[MSISDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
