USE [VLRDatabase]
GO
/****** Object:  Table [dbo].[VLR_PARAMS]    Script Date: 28.01.2016 9:15:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VLR_PARAMS](
	[param_key] [varchar](50) NOT NULL,
	[param_value] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
