USE [VLRDatabase]
GO
/****** Object:  Table [dbo].[VLR_t]    Script Date: 28.01.2016 9:15:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VLR_t](
	[ID] [bigint] NOT NULL,
	[CODREG] [varchar](5) NULL,
	[CODAREA] [varchar](4) NULL,
	[CODDISTR] [varchar](4) NULL,
	[IMSI] [varchar](40) NULL,
	[MSISDN] [varchar](40) NOT NULL,
	[IMEI] [varchar](40) NULL,
	[ID_VLR_FILE] [bigint] NOT NULL,
	[ACCESSING_DATE] [date] NULL,
	[ACCESSING_TIME] [time](7) NULL,
 CONSTRAINT [PK_VLR_t] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [I_VLR_t_AD]    Script Date: 28.01.2016 9:15:35 ******/
CREATE NONCLUSTERED INDEX [I_VLR_t_AD] ON [dbo].[VLR_t]
(
	[ACCESSING_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
