USE [VLRDatabase]
GO
/****** Object:  Table [dbo].[REFREG]    Script Date: 28.01.2016 9:15:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[REFREG](
	[CODCTR] [dbo].[D_CHAR3] NOT NULL,
	[CODREG] [dbo].[D_CHAR5] NOT NULL,
	[NAMEREG] [dbo].[D_CHAR110] NULL,
	[DESCR] [dbo].[D_BLOB] NULL,
 CONSTRAINT [PK_REFREG] PRIMARY KEY CLUSTERED 
(
	[CODCTR] ASC,
	[CODREG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[REFREG]  WITH CHECK ADD  CONSTRAINT [FK_REFREG] FOREIGN KEY([CODCTR])
REFERENCES [dbo].[REFCTR] ([CODCTR])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[REFREG] CHECK CONSTRAINT [FK_REFREG]
GO
