USE [VLRDatabase]
GO
/****** Object:  Table [dbo].[REP_03_HOME_AREA]    Script Date: 28.01.2016 9:15:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[REP_03_HOME_AREA](
	[MSISDN] [varchar](40) NOT NULL,
	[ID_REF_AREA_GROUP] [bigint] NOT NULL,
	[MONTH] [int] NOT NULL,
	[YEAR] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
